<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I obtained a B.S. in Psychology from the University of Oklahoma in 2017, where I continued to work in a visual neuroscience lab until 2018 when I accepted my current job at Duke University's Center for Cognitive Neuroscience.</p>
      </div>
      <div class="col-lg-4">
        <p>I am passionate about science communication! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
