<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
        <p>In 2017 obtained a B.S. in Psychology from the University of Oklahoma, where I also worked as a research assistant in the OU Visual Neuroscience Lab (2016-2018), OU Memory Lab (2016), and Lab of Integegrated Neuroimaging and Neuromodulation (2017). In 2018 I accepted my current position as an Associate in Research at the Center for Cognitive Neuroscience, where I work as a lab manager for the Cabeza Lab (2018-current) and research assistant for the Cabeza Lab and Duke Motivated Aging and Cognition Lab (2021-current). </p>
    </div>
  </div>
</section>
